[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
wtforms = "*"
jose = "*"
jwt = "*"
python-jose = "*"
requests = "*"
authlib = "*"
python-dotenv = "*"
constants = "*"

[dev-packages]

[requires]
python_version = "3.8"
